@addTagHelper *, LazZiya.TagHelpers
@using Aliasys.Application.Services.InternalServices.UserGroupServices.Queries.GetUserGroup.GetUserGroupFullList;
@model ResultGetUserGroupFullListDto

<table class="table datatable datatable-table table-hover table-responsive-md">
    <thead>
        <tr class="table-success">
            <th data-sortable="true" style="width:5%;">
                <a href="#" class="datatable-sorter">#</a>
            </th>
            <th data-sortable="true" aria-sort="ascending" class="datatable-ascending" style="width:70%;">
                <a href="#" class="datatable-sorter">GroupName</a>
            </th>
            <th style="width:25%;">
                <a href="#">Operations</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.RowsCount != 0)
        {
            @foreach (var item in Model.userGroupList)
            {
                <tr role="row" class="odd table-light" data-index="@(Model.userGroupList.IndexOf(item))">
                    <td>@(Model.userGroupList.IndexOf(item) + 1)</td>
                    <td>@item.GroupName</td>
                    <td>
                        <a class="text-warning mouse-pointer p-0" onclick="showInPopup('@Url.RouteUrl("updateUserGroup",new { id = item.Id},Context.Request.Scheme)','Update User Group', 'Update' , 'Medium')">
                            <i class="fa fa-pencil-alt font-medium-3 mr-2"></i>
                        </a>
                        &nbsp;
                        <a class="text-danger mouse-pointer p-0" onclick="showInPopup('@Url.RouteUrl("deleteUserGroup",new { id = item.Id},Context.Request.Scheme)','Delete User Group', 'Delete' , 'Medium')">
                            <i class="fa fa-trash font-medium-3 mr-2"></i>
                        </a>
                        &nbsp;
                        <a class="text-danger mouse-pointer p-0" onclick="showInPopup('@Url.RouteUrl("deleteUserGroup",new { id = item.Id},Context.Request.Scheme)','Add User To Group', 'Other' , 'Medium')">
                            <i class="fa fa-users font-medium-3 mr-2"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row">
    <div class="col text-center">
        <paging total-records="@Model.RowsCount"
                page-no="@Model.Page"
                page-size="@Model.PageSize"
                show-prev-next="true"
                show-total-pages="false"
                show-total-records="false"
                show-page-size-nav="false"
                query-string-key-page-no="Page"
                query-string-key-page-size="PageSize">
        </paging>
    </div>
</div>