@addTagHelper *, LazZiya.TagHelpers
@using Aliasys.Application.Services.InternalServices.OperationUnitServices.Queries.GetOperationUnit.GetOpUnitFullList;
@model ResultGetOperationUnitFullListDto

<div id="listOperationUnit" class="returnParent">
    <table class="table datatable datatable-table table-hover table-responsive-md">
        <thead>
            <tr class="table-success">
                <th data-sortable="true" style="width:5%;">
                    <a href="#" class="datatable-sorter">#</a>
                </th>
                <th data-sortable="true" aria-sort="ascending" class="datatable-ascending" style="width:35%;">
                    <a href="#" class="datatable-sorter">Name</a>
                </th>
                <th data-sortable="true" style="width:35%;">
                    <a href="#" class="datatable-sorter">Code</a>
                </th>
                <th style="width:25%;">
                    <a href="#">Operations</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RowsCount != 0)
            {
                @foreach (var item in Model.opunitList)
                {
                    <tr role="row" class="odd table-light" data-index="@(Model.opunitList.IndexOf(item))">
                        <td>@(Model.opunitList.IndexOf(item) + 1)</td>
                        <td>@item.Name</td>
                        <td>@item.Code</td>
                        <td>
                            <a class="text-warning mouse-pointer p-0" data-toggle="tooltip" data-placement="bottom" title="Update" onclick="showInPopup('@Url.RouteUrl("updateOperationUnit",new { id = item.Id},Context.Request.Scheme)','Update Operation Unit', 'Update' , 'Medium')">
                                <i class="fa fa-pencil-alt font-medium-3 mr-2"></i>
                            </a>
                            &nbsp;
                            <a class="text-danger mouse-pointer p-0" data-toggle="tooltip" data-placement="bottom" title="Delete" onclick="showInPopup('@Url.RouteUrl("deleteOperationUnit",new { id = item.Id},Context.Request.Scheme)','Delete Operation Unit', 'Delete' , 'Medium')">
                                <i class="fa fa-trash font-medium-3 mr-2"></i>
                            </a>
                            &nbsp;
                            <a class="mouse-pointer p-0" data-toggle="tooltip" data-placement="bottom" title="Dependency" onclick="showInPopup('@Url.RouteUrl("dependencyOperationUnit",new { id = item.Id, name = item.Name},Context.Request.Scheme)','Operation Unit Dependencies', 'Other' , 'Medium')">
                                <i class="fa fa-list font-medium-3 mr-2"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col text-center">
            <paging total-records="@Model.RowsCount"
                    page-no="@Model.Page"
                    page-size="@Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="false"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize">
            </paging>
        </div>
    </div>
</div>